/* header */
.main-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px 0px;
  background-color: #2a363b;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 5;
}
.main-header .main-header__header-column {
  margin-left: 10px;
  margin-right: 10px;
}
.main-header .title {
  width: 880px;
}
.main-header .icon {
  width: 30px;
  height: 30px;
}

.main-header .title,
.main-header .icon {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-header__header-column span {
  font-size: 22px;
  color: white;
}

/* navigation var */
.icon .icon__nav i {
  cursor: pointer;
}

@keyframes dropdown {
  from {
    opacity: 0;
    height: 0;
  }
  to {
    opacity: 1;
    height: 150px;
  }
}

@keyframes dropup {
  from {
    opacity: 1;
    height: 150px;
  }
  to {
    opacity: 0;
    height: 0px;
  }
}

.nav-list {
  display: none;
  position: absolute;
  background-color: #fcfcfc;
  border: 1px solid #f7f7f7;
  border-radius: 10px;
  width: 150px;
  left: -150px;
  top: 35px;
}

@keyframes show-menu-lists {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes hide-menu-lists {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.nav-list .menu-lists {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  padding-top: 10px;
}

.nav-list .menu-lists .menu-list {
  font-size: 18px;
  font-weight: 500;
  padding-right: 20px;
  line-height: 2.5;
}

.body-overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
